# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
build/
dist/
*.spec

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# IDEs
.vscode/
.idea/

# App temporary files
*.tmp
temp_cover_*
extracted_cover_*
thumb_*
